#root {
  /** Base colors */
  --clr-dark-a0: #000000;
  --clr-light-a0: #ffffff;

  /** Theme primary colors */
  --clr-primary-a0: #52e487;
  --clr-primary-a10: #6de894;
  --clr-primary-a20: #83eba2;
  --clr-primary-a30: #97eeaf;
  --clr-primary-a40: #aaf2bc;
  --clr-primary-a50: #bcf5c9;

  /** Theme surface colors */
  --clr-surface-a0: #121212;
  --clr-surface-a10: #282828;
  --clr-surface-a20: #3f3f3f;
  --clr-surface-a30: #575757;
  --clr-surface-a40: #717171;
  --clr-surface-a50: #8b8b8b;

  /** Theme tonal surface colors */
  --clr-surface-tonal-a0: #1b241d;
  --clr-surface-tonal-a10: #303932;
  --clr-surface-tonal-a20: #464e48;
  --clr-surface-tonal-a30: #5e6560;
  --clr-surface-tonal-a40: #777d78;
  --clr-surface-tonal-a50: #919691;

  width: 100vw;
  height: 100vh;
  margin: 0;
  text-align: left;

  --container-max-width: 1280px;
  --grid-columns-number: 5;
  --grid-padding: 2rem;
  --border-radius-01: 18px;
}

.container {
  max-width: var(--container-max-width);
  min-height: 80vh;
  margin: 0 auto;
  padding: 2rem
}

a {
  color: var(--clr-primary-a30)
}